.LinkedInButton {
  position: relative;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  gap: 2px;
  padding: 8px;
  padding-right: 24px;
  border-radius: 8px;
  font-weight: bold;
  background-color: #4ea5d9;
  color: #f5f5f5;
  transition: background-color 0.5s;
}

.LinkedInButton:hover {
  background-color: #1c64f2;
}

.LinkedInButton svg {
  width: 25px;
  height: 25px;
  fill: #f5f5f5;
}

.LinkedInButton span {
  border-left: 2px solid #f5f5f5;
  padding-left: 4px;
}

.LinkedInTooltip {
  position: absolute;
  top: 1rem; /* top-16 */
  left: -6rem;
  z-index: 10;
  display: inline-block;
  padding: 0.75rem; /* px-3 py-2 */
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
  color: #f8fafc; /* text-white */
  opacity: 0;
  background-color: #4ea5d9; /* bg-sky-600 */
  border-radius: 0.375rem; /* rounded-lg */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2); /* shadow-sm */
}

.LinkedInButton:hover .LinkedInTooltip {
  opacity: 1;
}

.LinkedInTooltip::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 3px;
  background-color: #1c64f2;
  top: -3px;
  left: calc(50% - 12px);
  transform: rotate(-45deg);
}
