h1 {
  color: black !important;
}
div {
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  font-weight: normal;
}

.rc-title {
  overflow: visible !important;
}
